<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
{{#each customer}}
    <ul>
        <li>{{id}}</li>
        <li>{{name}}</li>
        <li>{{password}}</li>
        <li>{{pow}}</li>
        <li>{{email}}</li>
        <li>{{sex}}</li>
        <li>{{phone}}</li>
        <li>{{question}}</li>
        <li>{{result}}</li>
        <li>{{issue_date}}</li>
    </ul>
{{/each}}
